.logo{
	margin-top: 60px;
	margin-left: 170px;
}

.title{
	position: relative;
	top: 48px;
	left: -160px;
}

.flyguy{
	position: relative;
	top: 59px;
	left: 270px;
}

.red{
	position: relative;
	top: 56px;
	background-color: red;
	height: 380px;
}

.red .write{
	color: white;
	font-size: 20px;
    font-family: BrandonText-Regular,Arial,sans-serif;
    position: relative;
    top: 11px;
    left: 169px;
}

.logintab{
	background-color: rgb(173,40,38);
	color: white;
	height: 208px;
	width: 280px;
	position: relative;
	top: 30px;
	left: 169px;
	padding: 10px 15px 20px 15px;
}

.Password{
	position: relative;
	top: 15px;
}

.checkbox{
	position: relative;
	top: 40px;
}

.msg{
	font-size: 12px;
	position: relative;
	left: 22px;
}

.nav{
	width: 276px;
	
	position:relative;
	top: 48px;
	left: 5px;
}

.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: BrandonText-Bold,Arial,sans-serif;
	width: 100%;
	font-weight: bold;
	display: inline-block;
	background-color: #FC853F;
	color: white;
	line-height: 42px;
	text-align: center;
	transition: 300ms;
}

.nav a:hover{
	background-color: #d83230;

}

.info{
	position: relative;
	top: 60px;
	left: 10px;


}

.first{
	position: relative;
	left: 580px;
	bottom: 110px;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.teachers{
	height: 147px;
	width: 325px;
	padding: 40px 0px 0px 0px;
	background-color: rgb(173,40,38);
	position: relative;
	left: 370px;
	bottom: 90px;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-align: center;

}

.parents{
	height: 147px;
	width: 325px;
	padding: 40px 0px 0px 0px;
	background-color: rgb(173,40,38);
	color: white;
	position: relative;
	left: 900px;
	bottom: 117px;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.account{
	width: 276px;
	
	position:relative;
	bottom:  170px;
	left: 394px;
}

.account a{
	text-decoration: none;
	font-size: 18px;
	font-family: BrandonText-Bold,Arial,sans-serif;
	width: 100%;
	font-weight: 700;
	display: inline-block;
	background-color: #3FB0EB;
	color: white;
	line-height: 45px;
	text-align: center;
	transition: 300ms;
}

.account a:hover{
	background-color: #0098c8;

}

.started{
	width: 276px;
	
	position:relative;
	bottom:  205px;
	left: 925px;
}

.started a{
	text-decoration: none;
	font-size: 18px;
	font-family: BrandonText-Bold,Arial,sans-serif;
	width: 100%;
	font-weight: 700;
	display: inline-block;
	background-color: #FC853F;
	color: white;
	line-height: 45px;
	text-align: center;
	transition: 300ms;
}

.started a:hover{
	background-color:#d83230;

}

.blue{
	background-color: #1fe0cd;
	height: 480px;
}


.books{
	position: relative;
	top: 140px;
	left: 800px;
}

.children{
	color: white;
	position: relative;
	bottom: 440px;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-weight: 400;
	text-align: center;
	font-size: 24px;
}

.video{
	position: relative;
	bottom: 230px;
	left: 110px;
}

.reading{
	color: #d83230;
    text-align: center;
    margin-top: 45px;
    font-size: 36px;
    font-family: BrandonText-Regular, Arial, sans-serif;
}

.image4{
	position: relative;
	left: 250px;
	top: 30px;

}


.image3{
	position: relative;
	left: 220px;
	top: 30px;

}


.image2{
	position: relative;
	left: 180px;
	top: 30px;

}


.image1{
	position: relative;
	left: 150px;
	top: 30px;

}

.line1{
	position: relative;
	top: 40px;
	left: 200px;

}

.line2{
	position: relative;
	bottom: 48px;
	left: 450px;
	display: inline-block;
	
}

.line3{
	position: relative;
	bottom: 30px;
	left: 550px;
	display: inline-block;
	
}

.line4{
	position: relative;
	bottom: 30px;
	left: 665px;
    display: inline-block;
}

.grey{
	background-color: #e5e2dc;
	height: 430px;
	color: #d83230;
    font-size: 36px;
    margin-bottom: 15px;
    font-family: BrandonText-Regular, Arial, sans-serif;
    padding-top: 20px;
    text-align: center;
}

.container {
    overflow-y: scroll; 
    height: 310px;
    width: 250px;
    color: blue;
    background-color: white;
    position: relative;
    top: 10px;
    left: 850px;
}

.man{
	position: relative;
	bottom: 300px;
	right: 138px;
}

.white{
	height: 180px;
	background-color: white;
	color: #d83230;
    font-weight: 400;
    font-size: 36px;
    font-family: BrandonText-Regular, Arial, sans-serif;
    margin-top: 42px;
    margin-bottom: 22px;
    text-align: center;
}

.anchor1{
	text-align: center;
	border-right: 1px solid red;
	border-left: 1px solid red;
	font-family: BrandonText-Regular, sans-serif;
    color: #3a3a3a;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 0px;
    width: 18%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    text-decoration: none;
    position: relative;
    left: 160px;
    top: 20px;

}

.anchor2{
	text-align: center;
	border-right: 1px solid red;
	font-family: BrandonText-Regular, sans-serif;
    color: #3a3a3a;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 0px;
    width: 18%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 120px;
    left: 120px;

}

.anchor3{
	text-align: center;
	border-right: 1px solid red;
	font-family: BrandonText-Regular, sans-serif;
    color: #3a3a3a;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 0px;
    width: 18%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 120px;
    left: 100px;
    
}


.anchor4{
	text-align: center;
	border-right: 1px solid red;
	font-family: BrandonText-Regular, sans-serif;
    color: #3a3a3a;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 0px;
    width: 18%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 120px;
    left: 100px;
}

.grey2{
	background-color: #e5e2dc;
	height: 250px;
	text-align: center;
    color: #D73131;
    font-family: BrandonText-Light,Arial,sans-serif;
    font-size: 40px;
    padding-top: 20px;
}

.teacher1{
	position: relative;
	top: 40px;
	right: 270px;
	display: block;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    color: #3FB0EB;

}

.parent1{
	display: inline-block;
	font-family: BrandonText-Medium,Arial,sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    color: #f88000;
    position: relative;
    left: 260px;
}


.teacher2{
	width: 470px;
	
	position:relative;
	bottom:  0px;
	left: 170px;
}

.teacher2 a{
	text-decoration: none;
	font-size: 18px;
	font-family: BrandonText-Bold,Arial,sans-serif;
	width: 100%;
	font-weight: 700;
	display: inline-block;
	background-color: #3FB0EB;
	color: white;
	line-height: 45px;
	text-align: center;
	transition: 300ms;
}

.parent2{
	width: 470px;
	
	position:relative;
	bottom:  53px;
	left: 700px;
}

.parent2 a{
	text-decoration: none;
	font-size: 18px;
	font-family: BrandonText-Bold,Arial,sans-serif;
	width: 100%;
	font-weight: 700;
	display: inline-block;
	background-color: #FC853F;
	color: white;
	line-height: 45px;
	text-align: center;
	transition: 300ms;
}

.space{
	background-color: white;
	height: 120px;
}

.footer{
    background-color: #e5e2dc;
    clear: both;
    letter-spacing: 1px;
    margin-bottom: 1em;
    width: 12.5%;
    height: 180px;
    border-right: 2px solid white;
    display: inline-block;

}

.footer1{
    background-color: #e5e2dc;
    clear: both;
    letter-spacing: 1px;
    margin-bottom: 1em;
    width: 18%;
    height: 180px;
    border-right: 2px solid white;
    display: inline-block;
    text-align: center;

}

.footer1 a{
	text-decoration: none;
	color: black;

}

.footer1 a:hover{
	color: #f88000;
	
}

.footer11{
	position: relative;
	left: 175px;
	bottom: 200px;
}

.footer12{
	position: relative;
	left: 423px;
	bottom: 396px;
}

.footer13{
	position: relative;
	left: 671px;
	bottom: 591px;
}

.footer14{
	position: relative;
	left: 919px;
	bottom: 786px;
}

.footer15{
	position: relative;
	left: 1166px;
	bottom: 982px;
}

.last1{
	position: relative;
	bottom: 970px;
	left: 170px;
	border-right: 1px solid black;
	padding-right: 8px;
	padding-left: 8px;
}

.last1 a{
	text-decoration: none;
	color: black;
}

.last1 a:hover{
	color: #f88000;
}

.last2{
	position: relative;
	bottom: 970px;
	left: 170px;
	padding-right: 8px;
	padding-left: 8px;
}

.last2 a{
	text-decoration: none;
	color: black;
}

.last2 a:hover{
	color: #f88000;
}

div.fixed{
	position: fixed;
	background-color: black;
	rotate:anti-clockwise;

    right: -8px;
    top: 33%;
    padding: 5px 14px 14px 14px;
    border-bottom: 0px;
    color: white;
    border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
    -webkit-border-radius: 9px 9px 0px 0px;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
}